* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.fondo {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.logo_inicio {
    position: absolute;
    z-index: 1;
    width: 40%;
    height: 45%;
    margin-right: 800px;
    margin-bottom: 50px;
}

.barra {
    position: absolute;
    z-index: 2;
    width: 6px;
    height: 500px;
    background-color: white;
    margin-left: 10%;
}

h1 {
   
    font-family: "Metal Mania", system-ui;
    position: absolute;
    z-index: 2;
    color: white;
    text-shadow: 
    -1px -1px 0 #000000,  
    1px -1px 0 #000,  
    -1px 1px 0 #000,  
    3px 3px 0 #000;  /* Cambia el color y tamaño del contorno según necesites */
    font-size: 60px;
    margin-left: 48%;
    margin-bottom: 25%;
}

form {
    position: absolute;
    margin-top: 100px;
    margin-left: 900px;
    z-index: 2;
}
.bx-user-circle:before {
    content: "\ec65";
    color: black;
}
.bx-lock-alt:before{
    content: "\eb4a";
    color: black;
}
.input-wrapper {
    position: relative;
    width: 400px;
    margin-bottom: 30px;
}

.input-wrapper i {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    color: white;
}

form input[type="text"],
form input[type="password"] {
    background-color: #ffffff;
    border-radius: 50px;
    height: 70px;
    width: 100%;
    color: rgb(0, 0, 0);
    padding: 0 0 0 70px;
    border: none;
    font-size: 18px;
}

.guardar {
    margin-bottom: 30px;
    color: white;
    font-size: 22px;
}

input[type="checkbox"],
input[type="radio"] {
    width: 22px;
    height: 22px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
}

input::placeholder {
    color: gray;
    font-size: 20px;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50px;
    height: 70px;
    width: 200px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 30px;
}

.boton {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 25px 65px;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    margin-right: 20px; /* Espacio entre botones */
    font-family: 'Times New Roman', Times, serif;
}
.boton:last-child {
    margin-right: 0; /* Evitar margen en el último botón */
}


input[type="submit"]:hover {
    background-color: #0056b3;
}

.container_boton {
    display: flex;
    gap: 15px; /* Espacio entre botones */
    margin-left: 50px;
    margin-top: 60px;
}

.olvidar {
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
    padding: 8px;
    color: white;
}

.olvidar:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

@media (min-width: 600px) and (max-width: 1024px) {
    h1 {
        font-size: 0px;
    }

    form {
        margin-left: 50px;
        margin-top: 300px;
    }

    .logo_inicio {
        width: 60%;
        height: 25%;
        margin-right: 0;
        margin-bottom: 500px;
    }

    .input-wrapper {
        width: 100%;
    }

    .barra {
        width: 0px;
        height: 0px;
    }
}

@media (max-width: 599px) {
    h1 {
        font-size: 0px;
    }

    form {
        margin-left: 20px;
        margin-top: 200px;
    }

    .logo_inicio {
        width: 80%;
        height: 30%;
        margin-right: 0;
        margin-bottom: 30px;
    }

    .input-wrapper {
        width: 100%;
    }

    .logo_inicio {
        height: 200px;
        width: 300px;
        margin-bottom: 500px;
        margin-left: 20px;
    }

    .barra {
        width: 0px;
        height: 0px;
    }
}