* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Metal Mania", system-ui;
  background-image: url('fondoMotoRacer.png'); 
  background-size: cover;
  background-position: center;
}
body::before {
  position: fixed;
  width: 200%;
  height: 200%;
  z-index: -1;
  background: black;
  opacity: 0.6;
}

.container {
  width: 45%;
  margin: 50px auto;
  text-align: center;
  background-color: rgb(174 174 174 / 59%);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 65px;
  margin-left: 583px;
}

/* Título principal */
#gestionusuario h1 {
  font-size: 50px;
  margin-top: 92px;
  color: white;
  text-shadow: 7px -1px 0 #1c51a0, 1px -1px 0 #1c51a0, -1px 1px 0 #1c51a0, 3px 5px 0 #1c51a0;
  margin-left: 790px;
  letter-spacing: 5px;
  padding: 18px;
  letter-spacing: 5px;
}


.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.user-table th, .user-table td {
  padding: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.user-table th {
  background-color: #417ab5;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.row-gray {
  background-color: rgb(33 32 32 / 59%);
  color: white;
}

.row-ocre {
  background-color: #f9f9f9b7;
  color: black;
}

/* Ajuste para mover "Nombre" hacia la derecha */
.user-table td:nth-child(2), .user-table th:nth-child(2) {
  padding-left: 115px;
  text-align: left;
}
  

.btn-permissions, .btn-delete {
  padding: 8px 12px;
  margin: 5px;
  border: none;
  cursor: pointer;
  color: white;
}

.btn-permissions {
  background-color: #007bff;
  border-radius: 15px;
}

.btn-delete {
  background-color: #dc3545;
  border-radius: 15px;
}

.btn-permissions:hover {
  background-color: #0056b3;
}

.btn-delete:hover {
  background-color: #c82333;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.78);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: rgb(174 174 174 / 59%);
  padding: 20px;
  width: 400px;
  border-radius: 8px;
  text-align: center;
}

.close {
  font-family: Arial, Helvetica, sans-serif;
  float: right;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

.permissions-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.permissions-table th, .permissions-table td {
  padding: 10px;
  text-align: center;
  background-color: #f9f9f9b7;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-weight: bold;
}

.permissions-table th {
  background-color: #417ab5;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.btn-save {
  background-color: #007bff;
  border-radius: 15px;
  color: white;
  padding:  13px 36px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.btn-save:hover {
  background-color: #0056b3;
}

tbody input[type="checkbox"] {
  transform: translate(175%, 9%) scale(1.5);
  background-color: #417ab5;
}

.modal-content h2 {
  font-size: 30px;
  color: white;
  text-align: center;
  margin-top: -3px;
  margin-left: 16px;
  font-weight: bold;
  text-shadow: 7px -1px 0 #1c51a0, 1px -1px 0 #1c51a0, -1px 1px 0 #1c51a0, 3px 5px 0 #1c51a0;
  letter-spacing: 5px;
}
